<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gimbal-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AAF91A1215C64C9007126CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AAF91B9215C64CB007126CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AAF91C4215C64CB007126CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
